<ion-header>

  <ion-toolbar color='warning'> 
    <ion-buttons slot='start'>
        <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>

    <ion-title>Topic Three: National Leadership Conference</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <h3> Where does the 2019 National Leadership Conference take place? </h3>

<ion-list radio-group>
  <ion-item>
    <ion-label>Seattle, Washington</ion-label>
    <ion-radio color="danger" value="Seattle, Washington"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>San Antonio, Texas</ion-label>
    <ion-radio color="success" value="family"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Dallas, Texas</ion-label>
    <ion-radio color="danger" value="Dallas, Texas"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Las Vegas, California</ion-label>
    <ion-radio color="danger" value="Las Vegas, California"></ion-radio>
  </ion-item>
</ion-list>

    <ion-button expand='block' color='blue' routerLink='/t3-question-two' routerDirection='forward'>
      <ion-label> Next </ion-label>
    </ion-button>

</ion-content>
