<ion-header>

  <ion-toolbar color='warning'>

    <ion-buttons slot='start'>
        <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>

    <ion-title>Topic Five: FBLA-PBL Headquarters </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3> Where is the headquarters of the FBLA-PBL organization located? </h3>

<ion-list radio-group>
  <ion-item>
    <ion-label> Houston, Texas </ion-label>
    <ion-radio color="danger" value="Houston, Texas"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> Redmond, Washington </ion-label>
    <ion-radio color="danger" value="Redmond, Seattle"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> Reston, Virginia </ion-label>
    <ion-radio color="success" value=" Reston, Virginia "></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> New York City, New York </ion-label>
    <ion-radio color="danger" value="New York City, New York"></ion-radio>
  </ion-item>
</ion-list>


    <ion-button expand='block' color='blue' routerLink='/t5-question-two' routerDirection='forward'>
      <ion-label> Next </ion-label>
    </ion-button>


</ion-content>
