<ion-header>

    <ion-toolbar color='warning'>
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic Two: State Officers </ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3> Who is the current Washington State FBLA-PBL Public Relations Officer? </h3>
  
  <ion-list radio-group>
    <ion-item>
      <ion-label>John Adams</ion-label>
      <ion-radio color="danger" value="Bill Nye"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Faith Bae</ion-label>
      <ion-radio color="success" value="Christina Masnyy"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Philip Hamilton </ion-label>
      <ion-radio color="danger" value="George Washington"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Rob Baker </ion-label>
      <ion-radio color="danger" value="Alexander Hamilton"></ion-radio>
    </ion-item>
  </ion-list>
  
      <ion-button expand='block' color='blue' routerLink='/t2-question-summary' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>
  
  </ion-content>
  