<ion-header>

    <ion-toolbar color='warning'>
  
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic Four: National Sponsors & Partners </ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3> Which one of these colleges provide scholarships through FBLA-PBL in the year 2019? </h3>
  
  <ion-list radio-group>
    <ion-item>
      <ion-label> Arizona State University </ion-label>
      <ion-radio color="success" value="Les Schwab"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Evergreen State College </ion-label>
      <ion-radio color="danger" value="Amazon"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Central Washington University </ion-label>
      <ion-radio color="danger" value=" Association of International Certified Professional Accountants "></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> University of Washington </ion-label>
      <ion-radio color="danger" value="GEICO"></ion-radio>
    </ion-item>
  </ion-list>
  

      <ion-button expand='block' color='blue' routerLink='/t4-question-three' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>

  
  </ion-content>
  