<ion-header>

    <ion-toolbar color='warning'>
  
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic Five: FBLA-PBL Headquarters </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3> Where was the headquarters of the FBLA-PBL organization located before 1991? </h3>
  
  <ion-list radio-group>
    <ion-item>
      <ion-label> The National Education Association Center in Washington D.C </ion-label>
      <ion-radio color="success" value="Houston, Texas"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Seattle, Washington </ion-label>
      <ion-radio color="danger" value="Redmond, Seattle"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Richmond, Virginia </ion-label>
      <ion-radio color="danger" value=" Reston, Virginia "></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Redmond, Washington </ion-label>
      <ion-radio color="danger" value="New York City, New York"></ion-radio>
    </ion-item>
  </ion-list>
  
 
      <ion-button expand='block' color='blue' routerLink='/t5-question-summary' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>

  
  </ion-content>
  