<ion-header>

    <ion-toolbar color='warning'> 
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic Three: National Leadership Conference</ion-title>
  
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content padding>
    <h3> <strong> When </strong> does the 2019 National Leadership Conference take place? </h3>
  
  <ion-list radio-group>
    <ion-item>
      <ion-label> June 29-July 2 </ion-label>
      <ion-radio color="success" value="Seattle, Washington"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> May 23-May 28 </ion-label>
      <ion-radio color="danger" value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> April 10-April 13</ion-label>
      <ion-radio color="danger" value="Dallas, Texas"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>August 1-August 11</ion-label>
      <ion-radio color="danger" value="Las Vegas, California"></ion-radio>
    </ion-item>
  </ion-list>
  
  
      <ion-button expand='block' color='blue' routerLink='/t3-question-summary' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>
   
  
  </ion-content>
  