<ion-header>
    <ion-toolbar color='warning'>
  
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic One: FBLA History</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3> Who founded FBLA? </h3>
  
    <ion-list radio-group>
      <ion-item>
        <ion-label>Hamden L. Forkner</ion-label>
        <ion-radio color="success" value="Hamden L. Forkner" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Steve Jobs</ion-label>
        <ion-radio color="danger"  value="Steve Jobs"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ben Kosa</ion-label>
        <ion-radio color="danger"  value="Ben Kosa"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Alexander Hamilton</ion-label>
    <!--  -->
        <ion-radio color="danger" value="Alexander Hamilton"></ion-radio>
      </ion-item>
    </ion-list>
  
      <ion-button expand='block' color='blue' routerLink='/t1-question-three' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>
  
  </ion-content>
  