<ion-header>
  <ion-toolbar color='warning'>

    <ion-buttons slot='start'>
        <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>

    <ion-title>Topic One: FBLA History</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3> When was the FBLA-PBL concept founded? </h3>

  <ion-list radio-group>
    <ion-item>
      <ion-label>1956</ion-label>
      <ion-radio color="danger" value="1956"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>1981</ion-label>
      <ion-radio color="danger"  value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>1937</ion-label>
      <ion-radio color="success"  value="1937"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>1999</ion-label>
  <!--  -->
      <ion-radio color="danger" value="1999"></ion-radio>
    </ion-item>
  </ion-list>


    <ion-button expand='block' color='blue' routerLink='/t1-question-two' routerDirection='forward'>
      Next
    </ion-button>


</ion-content>
