<ion-header>

    <ion-toolbar color='warning'> 
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/home'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Topic Three: National Leadership Conference</ion-title>
  
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content padding>
    <h3> Where does the 2020 National Leadership Conference take place? </h3>
  
  <ion-list radio-group>
    <ion-item>
      <ion-label>Salt Lake City, Utah</ion-label>
      <ion-radio color="success" value="Seattle, Washington"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Olympia, Washington</ion-label>
      <ion-radio color="danger" value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> Bend, Oregon </ion-label>
      <ion-radio color="danger" value="Dallas, Texas"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> New York City, New York </ion-label>
      <ion-radio color="danger" value="Las Vegas, California"></ion-radio>
    </ion-item>
  </ion-list>
  
      <ion-button expand='block' color='blue' routerLink='/t3-question-three' routerDirection='forward'>
        <ion-label> Next </ion-label>
      </ion-button>
  
  </ion-content>