<ion-header>
  <ion-toolbar color='warning'>
    <ion-title>
      <img src = 'assets/images/My Post.png'/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color='blue'>
    <ion-list lines='none'>

      <ion-item detail='true' routerLink= '/t1-question-one' routerDirection='forward'>
        <ion-label> Topic One: FBLA History </ion-label>
        <span> </span>
      </ion-item>

      <ion-item detail='true' routerLink= '/t2-question-one' routerDirection='forward'>
        <ion-label> Topic Two: State Officers  </ion-label>
        <span> </span>
      </ion-item>

      <ion-item detail='true' routerLink= '/t3-question-one' routerDirection='forward'>
        <ion-label> Topic Three: National Leadership Conference  </ion-label>
        <span> </span>
      </ion-item>

      <ion-item detail='true' routerLink= '/t4-question-one' routerDirection='forward'>
        <ion-label> Topic Four: National Sponsors & Partners </ion-label>
        <span> </span>
      </ion-item>

      <ion-item detail='true'  routerLink= '/t5-question-one' routerDirection='forward'>
        <ion-label> Topic Five: FBLA-PBL Headquarters </ion-label>
        <span> </span>
      </ion-item>
    
    </ion-list>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons>
          <ion-button routerLink='/contacts' routerDirection='forward' color='secondary'>
            <ion-label>
              Social Media and Terms of Service
            </ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
</ion-content>
